*{
    padding: 0;
    margin: 0px;
}

body{
    overflow: hidden;
    text-align: center;
    background-color: #000000;
}

canvas{
    border:2px solid #0000FF;
}

#disclaimer{
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
}

#disclaimer a{
    color:#6b92ff;
    text-decoration: none;
}

#disclaimer a:focus, #disclaimer a:visited, #disclaimer a:active{
    color:#6b92ff;
}

#disclaimer a:hover{
    color:#3333ff;
}

#disclaimer p{
    font-size:11px;
    color:#cccccc;
}